openapi: 3.0.3
info:
  description: OpenAPI specification for the event notification API. This is based on
    the Open Banking UK event notification API, but is simplified for ease of implementation.
  version: v3.0.0-draft1
  title: Event Notification API
  termsOfService: https://www.apicentre.paymentsnz.co.nz/contact-us/
  contact:
    name: Payments NZ API Centre
    email: apicentre@paymentsnz.co.nz
  license:
    name: Licence
    url: https://www.apicentre.paymentsnz.co.nz/join/
servers: 
  - url: https://api.provider.co.nz/open-banking-nz/v3.0
paths:
  /event-subscriptions:
    post:
      summary: Subscribe to a resource change callback notification
      tags:
        - Event Notification Subscription
      operationId: CreateEventSubscription
      parameters:
        - $ref: "#/components/parameters/x-fapi-interaction-id-Param"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Data:
                  $ref: "#/components/schemas/EventSubscription"
              additionalProperties: false
              required:
                - Data
      responses:
        "201":
          description: Subscription created
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    $ref: "#/components/schemas/EventSubscriptionResponse"
                  Links:
                    $ref: "#/components/schemas/Links"
                  Meta:
                    $ref: "#/components/schemas/Meta"
                required:
                  - Data
                  - Links
                  - Meta
                additionalProperties: false
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "406":
          $ref: "#/components/responses/406ErrorResponse"
        "415":
          $ref: "#/components/responses/415ErrorResponse"
        "429":
          $ref: "#/components/responses/429ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
        "501":
          $ref: "#/components/responses/501ErrorResponse"
        "503":
          $ref: "#/components/responses/503ErrorResponse"
      security:
        - ThirdPartyOAuth2Security:
            - payments
            - accounts
      callbacks:   # Callback definition
        AccountAccessConsentRevoked:   # Event name
          "{$request.body#/Data/CallbackUrl}":   # The callback URL,
                                            # Refers to the passed URL
            post:
              summary: SET token sent to TPP for account info access consent revocation
              parameters:
                - $ref: "#/components/parameters/x-fapi-interaction-id-Param"
              requestBody:   # Contents of the callback message
                required: true
                content:
                  application/secevent+jwt:
                    schema:
                      type: string
                      example: 
                        eyJhbGciOiJIUzI1NiIsInR5cCI6InNlY2V2ZW50K2p3dCJ9.eyJhdWQiOiI3dW14NW5UUjMzODExUXlRZmkiLCJldmVudHMiOnsidXJuOmFwaWNlbnRyZTpwYXltZW50c256OmNvOm56OmV2ZW50czphY2NvdW50LWFjY2Vzcy1jb25zZW50LXJldm9rZWQiOnsic3ViamVjdCI6eyJodHRwOi8vYXBpY2VudHJlLnBheW1lbnRzbnouY28ubnovcmlkIjoiYWFjLTEyMzQtMDA3IiwiaHR0cDovL2FwaWNlbnRyZS5wYXltZW50c256LmNvLm56L3JsayI6W3sibGluayI6Imh0dHBzOi8vZXhhbXBsZWJhbmsuY28ubnovYXBpL29wZW4tYmFua2luZy1uei92My4wL2FjY291bnQtYWNjZXNzLWNvbnNlbnRzL2FhYy0xMjM0LTAwNyIsInZlcnNpb24iOiJ2My4wIn1dLCJodHRwOi8vYXBpY2VudHJlLnBheW1lbnRzbnouY28ubnovcnR5IjoiYWNjb3VudC1hY2Nlc3MtY29uc2VudHMiLCJzdWJqZWN0X3R5cGUiOiJodHRwOi8vYXBpY2VudHJlLnBheW1lbnRzbnouY28ubnovcmlkX2h0dHA6Ly9hcGljZW50cmUucGF5bWVudHNuei5jby5uei9ydHkifX19LCJleHAiOjE2NjQ0ODAwMDcsImlhdCI6MTY2NDQ3OTQwNywiaXNzIjoiaHR0cHM6Ly9leGFtcGxlYmFuay5jby5ueiIsImp0aSI6IjAyNjgxY2M4LTdhMmYtNGY5MC05NDhiLWM0MWY5NzZhMmFiNCIsInN1YiI6Imh0dHBzOi8vZXhhbXBsZWJhbmsuY28ubnovYXBpL29wZW4tYmFua2luZy1uei92My4wL2FjY291bnQtYWNjZXNzLWNvbnNlbnRzL2FhYy0xMjM0LTAwNyIsInRvZSI6MTY2NDQ3OTQwMiwidHhuIjoiMTMxMWI0MGUtZDE0Zi00NGFhLTg3MjgtOTZlMzdhOTQ5MzNmIn0.tTLfVVh3P2zDlEmOpqD7uqUwEJ7KpDWfioopqHBgpxY
                      additionalProperties: false
              responses:   # Expected responses to the callback message
                "202":
                  description: TPP returns this code if it accepts the callback
                  headers:
                    x-fapi-interaction-id:
                      description: An RFC4122 UID used as a correlation id.
                      schema:
                        type: string
                        format: uuid
                "400":
                  $ref: "#/components/responses/400TPPError"
                "500":
                  $ref: "#/components/responses/500TPPError"
              security:
                - {}
        EnduringPaymentConsentRevoked:   # Event name
          "{$request.body#/Data/CallbackUrl}":   # The callback URL,
                                            # Refers to the passed URL
            post:
              summary: SET token sent to TPP for enduring payment consent revocation
              parameters:
                - $ref: "#/components/parameters/x-fapi-interaction-id-Param"
              requestBody:   # Contents of the callback message
                required: true
                content:
                  application/secevent+jwt:
                    schema:
                      type: string
                      example: 
                        eyJhbGciOiJIUzI1NiIsInR5cCI6InNlY2V2ZW50K2p3dCJ9.eyJhdWQiOiI3dW14NW5UUjMzODExUXlRZmkiLCJldmVudHMiOnsidXJuOmFwaWNlbnRyZTpwYXltZW50c256OmNvOm56OmV2ZW50czplbmR1cmluZy1wYXltZW50LWNvbnNlbnQtcmV2b2tlZCI6eyJzdWJqZWN0Ijp7Imh0dHA6Ly9hcGljZW50cmUucGF5bWVudHNuei5jby5uei9yaWQiOiJiYmQtMzI0NS0wMDIiLCJodHRwOi8vYXBpY2VudHJlLnBheW1lbnRzbnouY28ubnovcmxrIjpbeyJsaW5rIjoiaHR0cHM6Ly9leGFtcGxlYmFuay5jby5uei9hcGkvb3Blbi1iYW5raW5nLW56L3YzLjAvZW5kdXJpbmctcGF5bWVudC1jb25zZW50cy9iYmQtMzI0NS0wMDIiLCJ2ZXJzaW9uIjoidjMuMCJ9XSwiaHR0cDovL2FwaWNlbnRyZS5wYXltZW50c256LmNvLm56L3J0eSI6ImVuZHVyaW5nLXBheW1lbnQtY29uc2VudHMiLCJzdWJqZWN0X3R5cGUiOiJodHRwOi8vYXBpY2VudHJlLnBheW1lbnRzbnouY28ubnovcmlkX2h0dHA6Ly9hcGljZW50cmUucGF5bWVudHNuei5jby5uei9ydHkifX19LCJleHAiOjE2NjQ0Mzg1NzksImlhdCI6MTY2NDQzNzk3OSwiaXNzIjoiaHR0cHM6Ly9leGFtcGxlYmFuay5jby5ueiIsImp0aSI6IjVjN2VkODE0LTVmNjAtNDMyNi05MDMyLTMzYzEyYTgwZDM0OCIsInN1YiI6Imh0dHBzOi8vZXhhbXBsZWJhbmsuY28ubnovYXBpL29wZW4tYmFua2luZy1uei92My4wL2VuZHVyaW5nLXBheW1lbnQtY29uc2VudHMvYmJkLTMyNDUtMDAyIiwidG9lIjoxNjY0NDM3OTc0LCJ0eG4iOiIyMDQzZTRiMS0zMDM1LTQxNDgtOWU5My0zNzYxNTUxOTc3OWMifQ.DRii_qdIJfcWfjzA18kP2O4o92AxRMpK9NWHqKnYdOU
                      additionalProperties: false
              responses:   # Expected responses to the callback message
                "202":
                  description: TPP returns this code if it accepts the callback
                  headers:
                    x-fapi-interaction-id:
                      description: An RFC4122 UID used as a correlation id.
                      required: true
                      schema:
                        type: string
                "400":
                  $ref: "#/components/responses/400TPPError"
                "500":
                  $ref: "#/components/responses/500TPPError"
              security:
                - {}
    get:
      summary: Get subscriptions for resource change callback notifications
      tags:
        - Event Notification Subscription
      operationId: GetEventSubscriptions
      parameters:
        - $ref: "#/components/parameters/x-fapi-interaction-id-Param"
      responses:
        "200":
          description: Retrieve Event Subscription
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    $ref: "#/components/schemas/EventSubscriptionsResponse"
                  Links:
                    $ref: "#/components/schemas/Links"
                  Meta:
                    $ref: "#/components/schemas/Meta"
                required:
                  - Data
                  - Links
                  - Meta
                additionalProperties: false
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "406":
          $ref: "#/components/responses/406ErrorResponse"
        "429":
          $ref: "#/components/responses/429ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
        "501":
          $ref: "#/components/responses/501ErrorResponse"
        "503":
          $ref: "#/components/responses/503ErrorResponse"
      security:
        - ThirdPartyOAuth2Security:
            - payments
            - accounts
  "/event-subscriptions/{EventSubscriptionId}":
    put:
      summary: Update a subscription to an resource change callback notification
      tags:
        - Event Notification Subscription
      operationId: ModifyEventSubscription
      parameters:
        - $ref: "#/components/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/components/parameters/EventSubscriptionIdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Data:
                  $ref: "#/components/schemas/EventSubscription"
              additionalProperties: false
              required:
                - Data
      responses:
        "200":
          description: Subscription updated
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  Data:
                    $ref: "#/components/schemas/EventSubscriptionResponse"
                  Links:
                    $ref: "#/components/schemas/Links"
                  Meta:
                    $ref: "#/components/schemas/Meta"
                required:
                  - Data
                  - Links
                  - Meta
                additionalProperties: false
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "406":
          $ref: "#/components/responses/406ErrorResponse"
        "415":
          $ref: "#/components/responses/415ErrorResponse"
        "429":
          $ref: "#/components/responses/429ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
        "501":
          $ref: "#/components/responses/501ErrorResponse"
        "503":
          $ref: "#/components/responses/503ErrorResponse"
      security:
        - ThirdPartyOAuth2Security:
            - payments
            - accounts
    delete:
      summary: Delete a subscription to an resource change callback notification
      tags:
        - Event Notification Subscription
      operationId: DeleteEventSubscription
      parameters:
        - $ref: "#/components/parameters/x-fapi-interaction-id-Param"
        - $ref: "#/components/parameters/EventSubscriptionIdParam"
      responses:
        "204":
          description: No content - subscription deleted
          headers:
            x-fapi-interaction-id:
              description: An RFC4122 UID used as a correlation id.
              schema:
                type: string
        "400":
          $ref: "#/components/responses/400ErrorResponse"
        "401":
          $ref: "#/components/responses/401ErrorResponse"
        "403":
          $ref: "#/components/responses/403ErrorResponse"
        "405":
          $ref: "#/components/responses/405ErrorResponse"
        "406":
          $ref: "#/components/responses/406ErrorResponse"
        "429":
          $ref: "#/components/responses/429ErrorResponse"
        "500":
          $ref: "#/components/responses/500ErrorResponse"
        "501":
          $ref: "#/components/responses/501ErrorResponse"
        "503":
          $ref: "#/components/responses/503ErrorResponse"
      security:
        - ThirdPartyOAuth2Security:
            - payments
            - accounts
components:
  parameters:
    x-fapi-interaction-id-Param:
      in: header
      name: x-fapi-interaction-id
      required: false
      description: An RFC4122 UID used as a correlation id.
      schema:
        type: string
        format: uuid
    EventSubscriptionIdParam:
      name: EventSubscriptionId
      in: path
      description: Unique identification as assigned by the API Provider to uniquely
        identify the consent.
      required: true
      schema:
        type: string
  responses:
    400TPPError:
      description: Problem with callback request sent by API Provider
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    500TPPError:
      description: TPP callback endpoint problem
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    400ErrorResponse:
      description: Bad Request
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    401ErrorResponse:
      description: Unauthorized
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    403ErrorResponse:
      description: Forbidden
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    405ErrorResponse:
      description: Method Not Allowed
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    406ErrorResponse:
      description: Not Acceptable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    415ErrorResponse:
      description: Unsupported Media Type
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    429ErrorResponse:
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number in seconds to wait
          schema:
            type: integer
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    500ErrorResponse:
      description: Internal Server Error
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    501ErrorResponse:
      description: Not Implemented
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    503ErrorResponse:
      description: Service Unavailable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  securitySchemes:
    ThirdPartyOAuth2Security:
      type: oauth2
      description: Third Party client credential authorisation flow with the API Provider
      flows:
        clientCredentials:
          tokenUrl: https://authserver.example/token
          scopes:
            payments: Generic payment scope
            accounts: Generic accounts scope
  schemas:
    Error:
      type: object
      properties:
        ErrorCode:
          description: Low level textual error code.
          type: string
          enum:
            - Field.Expected
            - Field.Invalid
            - Field.Missing
            - Field.Unexpected
            - Header.Invalid
            - Header.Missing
            - QueryParam.Invalid
            - Reauthenticate
            - Reauthorise
            - Resource.Consent.CreditorAccount
            - Resource.Consent.DebtorAccount
            - Resource.Consent.Exceed.DataPermissions
            - Resource.Consent.Exceed.Dates
            - Resource.Consent.Exceed.Frequency
            - Resource.Consent.Exceed.MaximumAmount
            - Resource.Consent.Exceed.TotalAmount
            - Resource.Consent.Exceed.TotalCount
            - Resource.Consent.Exceed.TransactionDates
            - Resource.Consent.InvalidStatus
            - Resource.Consent.Mismatch
            - Resource.Invalid
            - UnexpectedError
            - Unsupported.AccountIdentifier
            - Unsupported.AccountSecondaryIdentifier
            - Unsupported.Currency
            - Unsupported.Scheme
        Message:
          description: A free text description of the error that occurred. E.g.,  "A
            mandatory field isn"t supplied".
          type: string
          minLength: 1
          maxLength: 500
        Path:
          description: A recommended but optional reference to the JSON Path of the
            field  with error, e.g., Data.Consent.InstructedAmount.Currency
          type: string
          minLength: 1
          maxLength: 500
        Url:
          description: URL to help remediate the problem, provide more information or
            to  API Reference.
          type: string
      required:
        - ErrorCode
        - Message
      additionalProperties: false
      minProperties: 1
    ErrorResponse:
      description: An array of detail error codes, and messages, and URLs to
        documentation to  help remediation.
      type: object
      properties:
        Code:
          description: High level textual error code to help categorise the errors.
          type: string
          minLength: 1
          maxLength: 128
        Id:
          description: A unique reference for the error instance, for audit purposes,
            in  case of unknown/unclassified errors.
          type: string
          minLength: 1
          maxLength: 128
        Message:
          description: Brief Error message. E.g., "There is something wrong with the
            request  parameters provided"
          type: string
          minLength: 1
          maxLength: 500
        Errors:
          items:
            $ref: "#/components/schemas/Error"
          type: array
          minItems: 1
      required:
        - Code
        - Message
        - Errors
      additionalProperties: false
    Meta:
      type: object
      description: Metadata relevant to the payload
      properties:
        TotalPages:
          type: integer
          format: int32
      additionalProperties: false
    Links:
      type: object
      description: Links to assist API navigation
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
      required:
        - Self
    EventSubscriptionResponse:
      allOf:
        - type: object
          properties:
            EventSubscriptionId:
              type: string
          additionalProperties: false
          required:
            - EventSubscriptionId
        - $ref: "#/components/schemas/EventSubscription"
    EventSubscription:
      type: object
      properties:
        CallbackUrl:
          description: Callback URL for a TPP hosted service. Will be used by API Providers, in conjunction with the resource name, to construct a URL to send event notifications to.
          type: string
          format: uri
        Version:
          type: string
          description: The version of resources to which the event subscription applies
        EventTypes:
          type: array
          items:
            description: Array of event types the subscription applies to.
            type: string
      required:
        - CallbackUrl
        - EventTypes
        - Version
      additionalProperties: false
    EventSubscriptionsResponse:
      type: object
      properties:
        EventSubscription:
          type: array
          items:
            $ref: "#/components/schemas/EventSubscriptionResponse"
      additionalProperties: false
